{% extends "main.html" %}
{% load static %}

{% block custom_style %}

<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">


{% endblock custom_style %}

{% block pageHeader %}
<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Employees</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="customers.html">Employees</a></li>
                <li class="breadcrumb-item active">Add Employees</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
{% endblock %}


{% block content %}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic Info</h4>
        <form action="#" method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="full_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Designation</label>
                        <select class="select" name="designation">
                             <option value="STAFF" selected>staff</option>
                            <option value="HR">hr</option>
                             <option value="DIRECTOR">director</option>

                              <option value="MANAGER">manager</option>

                              <option value="SENIOR_ENGINEER">senior engineer</option>

                              <option value="JUNIOR_ENGINEER">junior engineer</option>



                        </select>

                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control">
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>National ID</label>
                        <input type="text" name="national_id" class="form-control">
                    </div>

                </div>
            </div>

            <h4 class="card-title mt-4">Others Info</h4>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Country</label>
                        <select class="select" name="country">
                            <option>Select Country</option>
                            <option selected>Bangladesh</option>
                            <option>India</option>
                            <option>China</option>

                            <option>United States</option>
                        </select>
                    </div>
                    <div class="form-group">
                           <label>Division</label>
                           <input type="text" name="division" class="form-control">
                       </div>
                    <div class="form-group">
                        <label>District</label>
                        <input type="text" name="district" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Present Address</label>
                        <textarea rows="3" cols="5" name="present_address" class="form-control" placeholder="Present Address"></textarea>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Basic Salary</label>
                        <input type="text" name="basic_salary" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Experience</label>
                        <input type="text" name="experience" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Educational Qualification</label>
                        <input type="text" name="educational_qualification" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Permanent Address</label>
                        <textarea rows="3" cols="5"  name="permanent_address" class="form-control" placeholder="Permanent Address"></textarea>
                    </div>
                </div>
            </div>

            <div class="text-end mt-4">
                <a href=" {% url 'employee' %} "> <button type="button" class="btn btn-danger"> Cancel </button> </a>

                <button type="submit" class="btn btn-primary">Add Employee</button>
            </div>
        </form>


    </div>
</div>
{% endblock %}

{% block custom_script %}

<!-- Select2 JS -->
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

{% endblock custom_script %}


</body>
</html>