{% if messages %}
{% for message in messages %}
<div id="message" class="container">
    <div class="alert alert-{{ message.tags}} alert-dismissible text-center fade show" role="alert">

        <strong>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

            {% else %}

            {% endif %}
        </strong>
        {{ message|title }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}