    {% load static %}
    <!-- jQuery -->
    <script src='{% static "js/jquery-3.6.0.min.js" %}'></script>

    <!-- Bootstrap Core JS -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    
    <!-- Feather Icon JS -->
    <script src='{% static "js/feather.min.js" %}'></script>
    
    <!-- Slimscroll JS -->
    <script src='{% static "plugins/slimscroll/jquery.slimscroll.min.js" %}'></script>

    
    
    
   

    