{% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>{% block title %} Welcome To HealthCare Dashboard {% endblock title %} </title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "img/favicon.png" %}'>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href='{% static "plugins/fontawesome/css/fontawesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "plugins/fontawesome/css/all.min.css" %}'>

  
    