<style>
 .sidebar-menu ul {
     padding-left: 11px !important;
     padding-right: 11px !important;
 }
 .sidebar-menu ul ul a {
    border-left: 4px solid #7638ff;
    margin-top: 5px;
    /* border-radius: 50px; */

}
 .sidebar-menu ul ul a:hover{
     
 }
</style>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title text-primary"><span>{{request.session.user_type|title}} Portal</span></li>
                <li class="{% if request.path == '/' %}active{% endif %}">
                    <a style="background-color:#7638ff;color:white;font-size:16px;border-radius:25px;" href="{% url 'home' %}"><i class="fa fa-apple"></i> <span>Dashboard</span></a>
                </li>
                {% if request.session.user_type == "patient" %}
                <li class="{% if request.path == '/appointment/create/' %}active{% endif %}">
                    <a style="background-color:#7638ff;color:white;font-size:16px;border-radius:25px;" href="{% url 'appointment_create' %}"><i class="fa fa-apple"></i> <span> Create Appointment</span> <span class="menu-arrow1"></span></a>
                </li>                
                {% endif %} 
                
                <li class="{% if request.path == '/view-appointments/' %}active{% endif %}">
                    <a style="background-color:#7638ff;color:white;font-size:16px;border-radius:25px;" href="{% url 'appointment_list' request.session.user_id request.session.user_type %}"><i class="fa fa-clipboard-prescription"></i> <span> View Appointments</span> <span class="menu-arrow1"></span></a>
                </li>

                <li class="{% if request.path == '/prescription/' %}active{% endif %}">
                    <a style="background-color:#7638ff;color:white;font-size:16px;border-radius:25px;" href="{% url 'prescription'  %}"><i class="fa fa-clipboard-prescription"></i> <span> View Prescription</span> <span class="menu-arrow1"></span></a>
                </li>   
            </ul>
        </div>
    </div>
</div>