<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">	
    <title>Document</title>
   
    <style>
        html{
		margin:0px;
		padding:0px;
		font-family: 'Roboto', sans-serif;
		font-size:24px;
	}
    </style>
</head>
<body>

    <div style="background-color: whitesmoke;width: 490px;height: 500px; padding: 0px;margin-top:-10px;">
        
        <table>
            <tr>
                <td>
                    <img src='{% static "img/logo.png" %}' height="90" width="90" alt="Logo">

                </td>
                <td>
                    <p style="font-size:20px;font-weight:bold;text-align: right">  Intraco Refueling Station Limited <span style="font-size: 10px;"> <br> Intraco Limited</span> </p>
                </td>
            </tr>
        </table>
        <span style="padding:0;margin:0;">rz0</span><br>
        <span>[Nesa &ons]</span><br>
        <span>259/1, Begban, Mirpur, Dhaka</span>
        <table style="text-align: left;">
            <tr>
              <th>Total Taka</th>
              <th></th>
              <td colspan="2">={{total_amount}}</th>
              <td>BDT</td>
            </tr>
            <tr>
                <th>Total Volume</th>
                <th></th>
                <td colspan="2">={{total_volume}}</th>
                <td>M3</td>
              </tr>
              <tr>
                <th>Unit Price</th>
                <th></th>
                <td colspan="2">={{rate}}</th>
                <td>BDT</td>
              </tr>
          </table>
	<br>
          <span>Time:-{{time|time:"g:i[A]"|upper}}</span><br>
          <span>Date:{{date|date:"SHORT_DATE_FORMAT"}}</span><br>
          <span>Nozzle No: {{nozzle_id}}</span><br>
          
          <div style="margin-top:30px">
            <p >Bill-No:{{bill_no}}</p>

          </div>
          

    </div>
   
  
    
</body>
</html>