{% extends "main.html" %}
{% load static %}

{% block custom_style %} 
	<!-- Datatables CSS -->
	<link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
 
{% endblock custom_style %}
  

{% block content %}

<div class="col-md-12">
    <div class="card bg-white p-5" style="font-size: 14px;">
        <style>
            
            table {
                width: 100%;
            }
            td{
                padding-left: 5px;
                height: 30px;
            }
            
            table, th, td {
             
                border: 3px solid black;
            }
            .notestyle{
                width: 100%;
                height: 100px;
                border: 3px solid black;
            }
            hr {
                border: none;
                height: 3px !important;
                color: #080808 !important;
                background-color: #080808 !important;
                opacity: 1 !important;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
        </style>
        <!-- Report Heading -->
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'img/logo.png' %}">
            </div>
        
            <div class="col-md-6">
                <center>
                    <h3> Intraco CNG Limited </h3>
                    <h5> (A Sister Concern Of Intraco Group)</h5>
                    <h4> BRTC Bus Depo, Pallabi, Mirpur 12. </h4>
                    <h4> Daily Sales Report </h4>
                </center>
        
            </div>
        
            <div class="col-md-3">
                <a class="btn btn-outline-primary" target="_blank" href="{% url 'pdfdailytrnx' %}"> <i class="fa fa-download"></i> Download/View PDF </a>
            </div>
        </div>
        <!-- Report Head -->
        <table class="mt-2">
            <tr style="height:30px;">
                <td class="px-2"> Start Time: 07:30 AM </td>
                <td class="px-2"> Stop Time: 02:00 PM </td>
                <td class="px-2"> Shift: A </td>
                <td class="px-2"> Date: 07.11.2021 </td>
            </tr>
        </table>
         <!-- Report Head -->
        <div class="row mt-3">
            <div class="col-md-12">
            <table>
                <tr style="height: 35px; font-size: bold;background-color: #b0e2ff;">
                    <th colspan="2">
                        CMS/RMS Reading
                    </th>
                    <th colspan="2">
                        Gas Driven Run time
                    </th>
                </tr>
                <tr>
                    <td> Closing </td>
                    <td> 1556728.30</td>
                    <td> Closing </td>
                    <td> 3227.05</td>
                    
                </tr>
                <tr>
                    <td> Opening </td>
                    <td> 155453870.70</td>
                    <td> Opening </td>
                    <td> 3220.35</td>
                </tr>
                <tr>
                    <td> <b> Total:  </b></td>
                    <td> <b> 2189.60 </b> </td>
                    <td> <b> Total:  </b></td>
                    <td> <b> 2189.60 </b> </td>
                </tr>
                
            </table>
              
            </div>
        </div>
        
          <!-- Report Body -->
        
        <div class="row mt-3">
            <div class="col-md-12">
            <table>
                <tr style="height: 35px; font-size: bold;background-color: #b0e2ff;">
                    <th colspan="2">
                       New Electric Driven Run Time
                    </th>
                    <th colspan="2">
                        Gas Engine Reading
                    </th>
                </tr>
                <tr>
                    <td> Closing </td>
                    <td> 1556728.30</td>
                    <td> Closing </td>
                    <td> 3227.05</td>
                    
                </tr>
                <tr>
                    <td> Opening </td>
                    <td> 155453870.70</td>
                    <td> Opening </td>
                    <td> 3220.35</td>
                </tr>
                <tr>
                    <td> <b> Total:  </b></td>
                    <td> <b> 2189.60 </b> </td>
                    <td> <b> Total:  </b></td>
                    <td> <b> 2189.60 </b> </td>
                </tr>
                
            </table>
              
            </div>
        </div>
        
        <!-- Dispenser -->
        <table class="mt-3">
            <tr style="height: 35px; font-size: bold;background-color: #b0e2ff;">
                <th colspan="4"> Dispenser Reading: </th>
            </tr>
            <tr>    
                <th> Nozzel </th>
                <th> Closing </th>
                <th> Opening </th>
                <th> Total m3 </th>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 249972.911</td>
                <td> 248916.900</td>
                <td> 1056.011</td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 249972.911</td>
                <td> 248916.900</td>
                <td> 1056.011</td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 249972.911</td>
                <td> 248916.900</td>
                <td> 1056.011</td>
            </tr>
            <tr>
                <td colspan="3"> </td>
                <td><b> 5304.906 </b> </td>
            </tr>
        </table>
        <!-- Status -->
        
        <table class="mt-3">
            <tr>
                <td  style="height: 35px; font-size: bold;background-color: #b0e2ff;"> <b>Total Cubic Meter</b> </td>
                <td> 5304.906 </td>
            </tr>
            <tr>
                <td  style="height: 35px; font-size: bold;background-color: #b0e2ff;"> <b>Total Cubic Meter Sales Taka</b> </td>
                <td> 228,110.96</td>
            </tr>
        </table>
        
        
        <table class="mt-3">
            <tr>
                <td></td>
            </tr>
             
        </table>
        
        <table class="mt-3" style="max-width: 50%">
            <tr>
                <td style="height: 35px; font-size: bold;background-color: #b0e2ff;">Total Token </td>
                <td> 599 </td>
            </tr>
        </table>
         
         
    </div>
</div>


{% endblock %}


		