
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/p_style.css'%}">
</head>
<body>
<div class="mainscreen">
    <!-- <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">--> 
      <div class="card">
        <div class="leftside">
        
        </div>
        <div class="rightside">
          <form method="POST" action="{% url 'transaction' appointment_id  patient_id %}">
            {% csrf_token %}

            <h1>CheckOut</h1>
            <h2>Payment Information</h2>
            
            <p>Cardholder Name</p>
            <input type="text" class="inputbox" name="name" required />
        
            <p>Card Number</p>
            <input type="text" class="inputbox" name="card_number" id="card_number" required />
        
            <p></p>
            <div class="exp-date-cvv">
                <div>
                    <label for="expiry_month">Expiry Month</label>
                    <input type="text" class="inputbox" name="expiry_month" id="expiry_month" required />
                </div>
                <div>
                    <label for="expiry_year">Expiry Year</label>
                    <input type="text" class="inputbox" name="expiry_year" id="expiry_year" required />
                </div>
            </div>
        
            <p>CVC</p>
            <input type="text" class="inputbox" name="cvc" id="cvc" required />
        
            <input type="hidden" name="appointment_id" id="appointment_id" value="{{appointment_id}}" />
            <input type="hidden" name="patient_id" id="patient_id" value="5" />
            <input type="hidden" name="amount" value="30" />
            <input type="hidden" name="currency" value="gbp" />
        
            <p></p>
            <button type="submit" class="button">Book Appointment for £30</button>
        </form>
        
        </div>
      </div>
    </div>
  
<body>