
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/p_style.css'%}">
</head>
<body>
<div class="mainscreen">
    <!-- <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">--> 
      <div class="card">
        <div class="leftside">
        
        </div>
        <div class="rightside">
          <form method="POST" action="{% url 'transaction' %}">
            {% csrf_token %}
            <h1>CheckOut</h1>
            <h2>Payment Information</h2>
            <p>Cardholder Name</p>
            <input type="text" class="inputbox" name="name" required />
            <p>Card Number</p>
            <input type="number" class="inputbox" name="card_number" id="card_number" required />

            <p>Card Type</p>
            <select class="inputbox" name="card_type" id="card_type" required>
              <option value="">--Select a Card Type--</option>
              <option value="Visa">Visa</option>
              
              <option value="MasterCard">MasterCard</option>
            </select>
<div class="expcvv">

            <p class="expcvv_text">Expiry</p>
            <input type="date" class="inputbox" name="exp_date" id="exp_date" required />

            <p class="expcvv_text2">CVV</p>
            <input type="password" class="inputbox" name="cvv" id="cvv" required />
            <p>appointment_id</p>
            <input type="text" class="inputbox" name="appointment_id" id="appointment_id"  />
            <p>patient_id</p>
            <input type="text" class="inputbox" name="patient_id" id="patient_id"  />
            
        </div>
            <p></p>
            <button type="submit" class="button">Book Appointment for 20£</button>
          </form>
        </div>
      </div>
    </div>
  
<body>